/*=============GOOGLE FONTS================*/

/*=============CSS VARIABLEs================*/
:root{
	--primary: #f0f0f0;
	--primary2: #f3f3f3;
	--background: ffd966;
	--light: white;
	--dark: black;
}


*{
	
	
	
	/*flex-direction:  row | row-reverse | column | column-reverse;*/
	/* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
	/*align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
	
}
html,body{
	margin:0;
	padding:0;
}
.container{
	height: 100vh;
	width: 100vw;
	font-family: 'Fira sams', sans-serif;
	font-weight: bold;
	font-size: 20px;
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr; /*repeat)3,1fr)*/
	/*grid-template-rows: 50px 1fr 1fr 100px; */
	grid-template: 50px 1fr 1fr 100px/repeat(3, 1fr);
	gap: 0px;
}
.header{
	grid-column-start:1;
	grid-column-end:4;
	border: solid 1px;
	background: #000;
	grid-row-start:1;
	grid-row-end:span 1;
	text-align: left;
	display: inline-block;
}		

.content-large{
	position:relative;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:span 2;
	/*border: solid 1px;*/
}
.content-small_1{
	grid-column-start:3;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:span 1;
	/*border: solid 1px;*/
}
.content-small_2{
	grid-column-start:3;
	grid-column-end:4;
	grid-row-start:3;
	grid-row-end:span 1;
	/*border: solid 1px;*/
}
.footer{
	grid-row-start:4;
	grid-row-end:span 1;
	grid-column-start:1;
	grid-column-end:4;
	/*border: solid 1px;*/
}
#footer{
	display: box;
	margin: 5px;
	padding: 5px;
	
}		
.label{
	font-size: medium;
	color: #737373;
	background-color: transparent;
	font : italic 1.2em ,"Courier New"  , sans-serif;
	text-decoration: none; 
}
.dropdown-menu{
	background-color:--var(primary);
	position:relative;
}
.box{
	border: solid 1px;
	background-color:--var(primary);
	position: absolute;
	height: fit-content;
	width: 70px;
	block-size: fit-content;
	padding: 5px;
	top: 40px;
	left:0px;
	opacity:0;
}
.containerRow{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	
}


.item{
	border: none;
	text-align: center;
	font-size: 20px;
	padding: 3px;
	margin: 2px;
	height: fit-content;
	width: fit-content;
	/*flex-basis: 30%;*/
}	


/*-------NAVIGATION---------*/	
.menu{
	background: #000;
	text-align: left;
	
	margin: 0px auto;
	display: inline-block;
}
.nav-area,
.nav-area ul{
	list-style: none;
	margin:0;
	padding:0;
}
.nav-area li{
	position: relative;
}
.nav-area a{
	padding: 13px 11px;
	display:block;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}
.nav-area a:hover{
	background:deeppink;
}
.nav-area>li{
	display: inline-block;
	vertical-align:top;
	margin-left: 0px;
	position: relative;
}
.nav-area>li:first-child{
	margin-left: 0;
}
.nav-area>li>ul{
	text-align:left;
	display:none;
	background: #000000;
	position: absolute;
	top:40px;
	left:0px;
	z-index:99999;
}
.nav-area>li>ul>li>ul{
	text-align: left;
	display: none;
	background: #000000;
	position: absolute;
	left: 100%;
	top: 0;
	width: 100px;
	z-index: 9999999;
}
.nav-area form{
	text-align:left;
	background: #000000;
	text-decoration: none;
	font-size: 10px;
	color: #fff;
}
.button{
	background: #000000;
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	border-radius: 0px;
}
