/*=============GOOGLE FONTS================*/

/*=============CSS VARIABLEs================*/
:root{
	--darkGrey: #808080;
	--lightGrey: #cccccc;
	--text: 	#404040;
}
html,body{
	margin:0;
	padding:0;
	background:var(--lightGrey);
}
.container{
	height: 100vh;
	width: 100vw;
	font-family: 'Fira sams', sans-serif;
	font-weight: bold;
	font-size: 20px;
	display: grid;
	grid-template: 50px 1fr 1fr 100px/repeat(3, 1fr);
	gap: 0px;
}
.header{
	grid-column-start:1;
	grid-column-end:4;
	border: solid 1px;
	background:var(--darkGrey);
	grid-row-start:1;
	grid-row-end:span 1;
	text-align: left;
	display: inline-block;
}		

.content{
	position:relative;
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:span 3;
	/*border: solid 1px;*/
}
.label{
	font-size: medium;
	color: var(--text);
	background-color: transparent;
	font : italic 1.2em ,"Courier New"  , sans-serif;
	text-decoration: none; 
}


.containerRow{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	
}


.item{
	border: none;
	text-align: center;
	font-size: 20px;
	padding: 3px;
	margin: 2px;
	height: fit-content;
	width: fit-content;
	/*flex-basis: 30%;*/
}	

.button{
	background: #000000;
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	border-radius: 0px;
}
