/*=============GOOGLE FONTS================*/

/*=============CSS VARIABLEs================*/
#tableName{
	display: flex;
	 white-space: nowrap;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-content: center;
   align-self: center;
}
#tableName > *{
	font-size: 1em;
	color:var(--textTable);
	text-transform: uppercase;
	 margin: 3px;
	 margin-top: 15px;
	 margin-bottom: 15px;
}
#tableHeader{
	text-transform: uppercase;
	font-size: 0.6em;
}
#tableDiv{
	width:99%;
	margin-left:5px;
	margin-right:5px;
}
table.dataTable thead th{
	text-align: center;
	border: 1px solid;
	 border-collapse: collapse;
	 margin-top:15px;
}
table.dataTable td {
  font-size: 0.5em;
  text-align: center;
}

#tableDiv > *{
	color:var(--textTable);
}
.text-center{
		text-align: center;
}
