/*=============GOOGLE FONTS================*/

/*=============CSS VARIABLEs================*/
:root{
	--darkGrey: #808080;
	--lightGrey: #cccccc;
	--textTable: 	#595959;
}

#tableName{
	display: flex;
	 white-space: nowrap;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-content: center;
   align-self: center;
}
#tableName > *{
	font-size: 1em;
	color:var(--textTable);
	text-transform: uppercase;
	 margin: 5px;
}
#tableHeader{
	text-transform: uppercase;
	font-size: 0.8em;
}
table.dataTable td {
  font-size: 0.5em;
}

#tableDiv > *{
	color:var(--textTable);
}
