<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСТУЭ</title>

    <!--CSS -->
    <!-- <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">  -->
    <link rel="stylesheet" href="/webjars/datatables/1.13.1/css/jquery.dataTables.min.css"> 
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.2/jquery-ui.min.css">
     <link rel="stylesheet" href="webjars/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <!-- JS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/datatables/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/jquery-ui/1.13.2/jquery-ui.min.js"></script>
	<script src="/js/index.js"></script>
    <title>
        Home
    </title>
    <!-- add icon link -->
    <link rel = "icon" href="images/Bulb.webp" type = "image/x-icon">
</head>
<body>

    <div  class="container">
            <!-- ****** MENU ***** -->
            <div class="header">
                <div class="menu">
                    <ul class="nav-area">
                        <li class="dropdown"><a href="#" id="report" class="modal-toggle">Report</a></li>
                        <li class="dropdown"><a href="#">Substations</a>
                            <ul id="substations"></ul>
                        </li>
                        <li class="dropdown"><a href="#">Plants</a>
                            <ul id="plants"></ul>
                        </li>
                    </ul>
                    
                    <ul class="nav-area">
                         <li >
		                	<p id="user" class="label"></p>
		                </li>
                         <li >
		                	<a href="" id="login" class="login dropdown modal-toggle">Login</a>
		                </li>
                         <li >
		                	<a href="" id="logout" class="logout dropdown">Logout</a>
		                </li>
                    </ul>
                </div>
               
            </div>
        <!-- **** BODY **** -->
        
            <div class="content">
          
                    <!-- **** CHART **** -->
                    <div id="tableDiv">
                       <table id="table">
                            <!-- Header Table -->
                            <thead id="tableHeader">
	                            <tr id="rows">
	                               <!-- Dynamically appended <th></th>  -->
	                            </tr>
                            </thead>
                        </table>
                    </div>
            </div>
   			 		<!-- MODAL -->
		    <div class="modal">
				<form id="form">
					<div class="modal-header">
						<a class="close fas fa-xmark btn modal-toggle"></a>    		
			    	</div>
					<div class="modal-input">
					</div>
					<div class="modal-footer">
						<a class="submit modal-toggle action btn">Submit</a>  
			    	</div>
				</form>
			</div>
     </div>



</body>
</html>