<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСТУЭ</title>

    <!--CSS -->
    <link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/webjars/datatables/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/webjars/jquery-ui/1.13-2/jquery-ui.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <!-- JS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/datatables/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/jquery-ui/1.13-2/jquery-ui.min.js"></script>
	<script src="/js/index.js"></script>
	
    <title>
        Home
    </title>
    <!-- add icon link -->
    <link rel = "icon" href="images/Bulb.webp" type = "image/x-icon">
</head>
<body>

    <div  class="container">
            <!-- ****** MENU ***** -->
            <div class="header">
                <div class="menu">
                    <ul class="nav-area">
                        <li><a href="#">Report</a></li>
                        <li class="dropdown"><a href="#">Substations</a>
                            <ul id="substations"></ul>
                        </li>
                        <li class="dropdown"><a href="#">Plants</a>
                            <ul id="plants"></ul>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- **** BODY **** -->
            <div class="content">
                <span th:remove="tag"></span>
                    <!-- **** CHART **** -->
                    <div id="tableDiv">
                       <table id="table1" class="display">
                            <!-- Header Table -->
                            <thead>
                            <tr id="rows">
                               <!-- Dynamically appended <th></th>  -->
                            </tr>
                            </thead>
                        </table>
                    </div>
            </div>
     </div>
	
	<div class="modal" id="deviceModal">
		<form>
		<label>Modal device</label>
		</form>
	</div>
	<div class="modal" id="reportModal">
		<form>
		</form>
	</div>


</body>
</html>