<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>АСТУЭ</title>

    <!--CSS -->
    <link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/webjars/datatables/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css" />
    <!-- JS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/datatables/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/font-awesome/6.2.0/js/fontawesome.min.js"></script>
    <script  src="webjars/jquery-ui/1.13.2/jquery-ui.min.js" ></script>
    <title>
        Home
    </title>
    <!-- add icon link -->
    <link rel = "icon" href="images/Bulb.webp" type = "image/x-icon">
</head>
<body>

    <div  class="container">
            <!-- ****** MENU ***** -->
            <div class="header">
    		</div>
            <div class="content">
            		 <i class="fa-thin fa-pencil"></i>
           			<span class="far fa-circle"></span>
    		</div>
	</div>

</body>
</html>